{% extends 'base.html.twig' %}

{% block content %}
    <div id="map"></div>
{% endblock %}

{% block stylesheets %}
<style>
    #map {
        height: 600px;
    }
</style>
{% endblock %}

{% block javascripts %}
    <script>
        var map = null;
        var markers = [];
        var infoWindow = null;
        var offices = {{ offices|json_encode|raw }};

        function initMap() {
            var options = {
                center: {lat: 47.0971, lng: 37.5434}, // Mariupol
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                maxZoom: 14,
                zoom: 3
            };

            map = new google.maps.Map(document.getElementById('map'), options);

            infoWindow = new google.maps.InfoWindow();

            addMarkers();
        }

        function addMarkers() {
            for (var i = 0; i < offices.length; i++) {
                addMarker(offices[i]);
            }
        }

        function addMarker(office) {
            if (office.latitude === null || office.longitude === null) {
                return;
            }

            var marker = new google.maps.Marker({
                position: {lat: office.latitude, lng: office.longitude},
                map: map,
                label: office.name
            });

            marker.addListener('click', function() {
                showInfoWindow(marker);

                $.ajax('{{ path('office_info_window', {id: null}) }}' + office.id)
                    .done(function(data, textStatus, jqXHR) {
                        showInfoWindow(marker, data);
                    })
                    .fail(function(jqXHR, textStatus, error) {
                        console.log(error.toString());
                        showInfoWindow(marker, '');
                    });
            });

            markers.push(marker);
        }

        function removeMarkers() {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(null);
            }

            markers = [];
        }

        function showInfoWindow(marker, content) {
            if (typeof(content) === 'undefined') {
                content = '<img alt="loading" src="{{ asset('images/ajax-loader.gif') }}"/>';
            }

            var html = '<div id="info-window">' + content + '</div>';

            infoWindow.setContent(html);
            infoWindow.open(map, marker);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" async defer></script>
{% endblock %}
