{% extends 'base.html.twig' %}

{% block page_title 'Offices list' %}

{% block content %}
    {% if offices is not empty %}
        <ul>
            {% for office in offices %}
                <li><a href="{{ path('office_view', {slug: office.slug}) }}" title="View office">{{ office.fullName }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <em>No offices</em>
    {% endif %}
{% endblock %}
