<?xml version="1.0" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>

        <!-- Users -->
        <service id="app.validator.unique_registration" class="AppBundle\Validator\UniqueRegistrationValidator">
            <argument type="service" id="app.repository.user"/>
            <argument type="service" id="security.token_storage" />
            <tag name="validator.constraint_validator" alias="app.validator.unique_registration"/>
        </service>

        <service id="app.registration_handler" class="AppBundle\Utils\Handler\RegistrationHandler">
            <argument type="service" id="event_dispatcher"/>
            <argument type="service" id="router"/>
            <argument type="service" id="doctrine.orm.entity_manager"/>
            <argument type="service" id="security.encoder_factory"/>
        </service>

        <service id="app.user_account_activation_handler" class="AppBundle\Utils\Handler\UserAccountActivationHandler">
            <argument type="service" id="doctrine.orm.entity_manager"/>
        </service>

        <service id="app.registration_listener" class="AppBundle\EventListener\UserRegistrationListener">
            <argument type="service" id="mailer"/>
            <argument type="service" id="router"/>
            <argument type="string">%sender_email%</argument>
            <tag name="kernel.event_listener" event="user.registration_completed" method="onUserRegistrationCompleted"/>
        </service>

    </services>
</container>
