{% extends 'base.html.twig' %}

{% block content %}
    <h2>My profile</h2>

    <div>
        <span>{{ app.user.fullname }}</span>
        <span>({{ app.user.email }})</span>
    </div>

    <div>User since {{ app.user.activatedAt|date() }}.</div>

{% endblock %}
